.team {
  padding-bottom: 118px;
  background-color: #fbf9f6;
}

.team__title {
  margin-bottom: 80px;
}

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.team__cards {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1068px;
          flex: 0 1 1068px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.team-card__img {
  max-width: 450px;
  aspect-ratio: 1/1;
}

.team-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-card__name {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team-card__position {
  margin-bottom: 12px;
  font-weight: 250;
  font-size: 16px;
  line-height: 150%;
}

.team-card__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #949494;
}

@media screen and (max-width: 1100px) {
  .team {
    padding: 80px 0 100px;
  }

  .team__title {
    margin-bottom: 50px;
  }

  .team__cards {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}

@media screen and (max-width: 800px) {
  .team {
    padding: 60px 0 90px;
  }

  .team__title {
    margin-bottom: 40px;
  }

  .team__cards {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    row-gap: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .team-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 7.5px);
            flex: 0 1 calc(50% - 7.5px);
  }
}

@media screen and (max-width: 640px) {
  .team {
    padding: 0px 0 60px;
  }
}

@media screen and (max-width: 480px) {
  .team-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}