.btn-ellipse {
  position: relative;
  z-index: 1;
  display: inline-block;
  border: none;
  font-size: 20px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn-ellipse_lavend::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(167.75deg);
      -ms-transform: translate(-50%, -50%) rotate(167.75deg);
          transform: translate(-50%, -50%) rotate(167.75deg);
  z-index: -1;
  width: 125%;
  height: 3.8rem;
  border: 1px solid #9389d2;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}

.btn-ellipse_lavend-small::before {
  content: "";
  position: absolute;
  top: 54%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%) rotate(167.75deg);
      -ms-transform: translate(-50%, -50%) rotate(167.75deg);
          transform: translate(-50%, -50%) rotate(167.75deg);
  z-index: -1;
  width: 155%;
  height: 150%;
  border: 1px solid #9389d2;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}

.btn-ellipse_green {
  padding: 22px 0;
}

.btn-ellipse_green::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(167.75deg);
      -ms-transform: translate(-50%, -50%) rotate(167.75deg);
          transform: translate(-50%, -50%) rotate(167.75deg);
  z-index: -1;
  width: 120%;
  height: 3.8rem;
  background-color: #92ff6b;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}

.btn-ellipse_fill {
  padding: 22px 0;
  color: #ffffff;
}

.btn-ellipse_fill::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(167.75deg);
      -ms-transform: translate(-50%, -50%) rotate(167.75deg);
          transform: translate(-50%, -50%) rotate(167.75deg);
  z-index: -1;
  width: 120%;
  height: 3.8rem;
  background-color: #9389d2;
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}

@media (any-hover: hover) {
  .btn-ellipse:hover {
    -webkit-transform: scale(1.06);
        -ms-transform: scale(1.06);
            transform: scale(1.06);
  }
}