@font-face {
  font-family: Pragmatica;
  font-display: swap;
  src: url("../fonts/Pragmatica-Regular.ttf.woff2") format("woff2"), url("../fonts/Pragmatica-Regular.ttf.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Pragmatica;
  font-display: swap;
  src: url("../fonts/Pragmatica-ExtraLight.woff2") format("woff2"), url("../fonts/Pragmatica-ExtraLight.woff") format("woff");
  font-weight: 250;
  font-style: normal;
}

@font-face {
  font-family: Pragmatica;
  font-display: swap;
  src: url("../fonts/Pragmatica-Regular.woff2") format("woff2"), url("../fonts/Pragmatica-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}