@import "./colors";

.btn-ellipse {
    position: relative;
    z-index: 1;
    display: inline-block;
    border: none;
    font-size: 20px;
    transition: .3s ease-in-out;

    @media (any-hover: hover){
        &:hover{
            transform: scale(1.03);
        }
    }

    &_lavend {

        @media (any-hover: hover){
            &:hover {
                color: $green-lite;

                &::before{
                    background-color: $lavender;
                }
            }
        }

        &::before{
            content:'';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(167.75deg);
            z-index: -1;
            width: 125%;
            height: 3.8rem;
            border: 1px solid $lavender;
            border-radius: 50%;
            transition: .3s ease-in-out;
            pointer-events: none;
        }
    }

    &_lavend-small {

        &::before{
            content:'';
            position: absolute;
            top: 54%;
            left: 47%;
            transform: translate(-50%,-50%) rotate(167.75deg);
            z-index: -1;
            width: 155%;
            height: 150%;
            border: 1px solid $lavender;
            border-radius: 50%;
            transition: .3s ease-in-out;
            pointer-events: none;
        }
    }

    &_white {
        padding: 22px 0;
        color: $white;

        @media (any-hover: hover){
            &:hover {
                color: $black;

                &::before{
                    background-color: $white;
                }
            }
        }

        &::before{
            content:'';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(167.75deg);
            z-index: -1;
            width: 120%;
            height: 3.8rem;
            border: 1px solid $white;
            border-radius: 50%;
            transition: .3s ease-in-out;
            pointer-events: none;
        }
    }

    &_brief {
        padding: 22px 0;

        @media (any-hover: hover){
            &:hover {
                color: $white;

                &::before{
                    background-color: $lavender;
                }
            }
        }

        &::before{
            content:'';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(167.75deg);
            z-index: -1;
            width: 120%;
            height: 3.8rem;
            border: 1px solid $lavender;
            border-radius: 50%;
            transition: .3s ease-in-out;
            pointer-events: none;
        }
    }
}