$black: #080105;
$white: #ffffff;
$black-dop: #303030;
$lavender: #9389d2;
$green: #4ccb29;
$green-lite: #92ff6b;
$grey: #949494;

//==================================================================================

$darck: #141414;
$grey-light: #cfcfcf;
$grey-dark: #6c6c6c;

//multiselect - ms

$ms-white: #ededed;
$ms-blue: #35495e;
$ms-grey: #828282;
$ms-grey-dop: #999999;
$ms-aqua: #9389d2;
$ms-green: #41b883;


