.contacts {
  padding: 106px 0 63px;
  background-color: #4ccb29;
}

.contacts__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(29%, 583px) 30px calc(50% - 15px);
  grid-template-columns: minmax(29%, 583px) calc(50% - 15px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.contacts__wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.contacts__wrapper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.contacts__heading {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-bottom: 62px;
}

.contacts__heading p {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts__heading a {
  font-style: italic;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.contacts__title {
  margin-bottom: 32px;
}

.contacts__title span {
  display: block;
}

.contacts__info {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -webkit-columns: 2 auto;
     -moz-columns: 2 auto;
          columns: 2 auto;
  -webkit-column-gap: 87px;
     -moz-column-gap: 87px;
          column-gap: 87px;
}

.contacts__contact {
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
  margin-bottom: 40px;
}

.contacts__contact p {
  margin-bottom: 12px;
}

.contacts__contact a {
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.05em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ffffff;
}

.contacts__form {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.user-form__title,
.services-form__title {
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 20px;
  line-height: 300%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.user-form {
  margin-bottom: 40px;
}

.user-form input {
  width: 100%;
  padding: 10px 1px;
  border: 1px solid rgba(80, 80, 80, 0.5);
  border-right: none;
  border-left: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #080105;
  background-color: #4ccb29;
  border-radius: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 300%;
}

.user-form input::-moz-placeholder {
  color: #080105;
  opacity: 1;
}

.user-form input::-webkit-input-placeholder {
  color: #080105;
  opacity: 1;
}

.user-form input:-ms-input-placeholder {
  color: #080105;
  opacity: 1;
}

.user-form input:-moz-placeholder {
  color: #080105;
  opacity: 1;
}

.user-form input:nth-child(2) {
  border-bottom: none;
}

.services-form {
  margin-bottom: 40px;
}

.services-form textarea {
  width: 100%;
  margin-top: 22px;
  padding: 17px 0 0 17px;
  border: 1px solid rgba(80, 80, 80, 0.5);
  font-size: 16px;
  line-height: 30px;
  color: #080105;
  background-color: #4ccb29;
}

.services-form textarea::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.services-form textarea::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.services-form textarea:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.services-form textarea:-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.choices {
  display: block;
  width: 100%;
  min-height: 40px;
  margin-bottom: 0;
  border: 1px solid rgba(80, 80, 80, 0.5);
  border-left: none;
  border-right: none;
  text-align: left;
  color: #141414;
}

.choices.is-open .choices__inner::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.choices.is-open .choices__list--dropdown,
.choices.is-open .choices__list[aria-expanded] {
  visibility: visible;
  z-index: 1;
  position: static;
  background-color: #4ccb29;
  border: none;
  border-radius: 0%;
}

.choices__inner {
  position: relative;
  padding: 7.5px 40px 3.5px 0 !important;
  background-color: transparent;
  border: none;
}

.choices__inner::after {
  content: "";
  position: absolute;
  display: block;
  right: 1px;
  bottom: 20px;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  width: 30.5px;
  height: 19px;
  margin: 0;
  padding: 4px 8px;
  text-align: center;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  cursor: pointer;
}

.choices__input {
  position: relative;
  background-color: transparent;
  font-size: 16px !important;
  min-width: 100% !important;
  padding: 16px 1px;
}

.choices__input::-moz-placeholder {
  color: #080105;
  opacity: 1;
}

.choices__input::-webkit-input-placeholder {
  color: #080105;
  opacity: 1;
}

.choices__input:-ms-input-placeholder {
  color: #080105;
  opacity: 1;
}

.choices__input:-moz-placeholder {
  color: #080105;
  opacity: 1;
}

.choices__item {
  position: relative;
  min-height: 35px;
  padding: 8px !important;
  font-size: 16px !important;
  white-space: nowrap;
  cursor: pointer;
}

.choices__item[data-deletable] {
  max-width: 100%;
  min-height: 27px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 2px 10px;
  border-radius: 5px;
  border: none;
  overflow: hidden;
  background: #9389d2;
  color: #fff;
  white-space: nowrap;
  line-height: 0.7;
}

.choices[data-type*=select-multiple] .choices__button {
  border: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: #9389d2;
  color: #ffffff;
}

@media screen and (max-width: 1100px) {
  .contacts {
    padding-top: 80px;
  }

  .contacts__wrapper {
    -ms-grid-columns: minmax(29%, 583px) 490px;
    grid-template-columns: minmax(29%, 583px) 490px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .contacts__wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .contacts__wrapper > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .contacts__heading {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    margin-bottom: 70px;
  }

  .contacts__title {
    margin-bottom: 50px;
  }

  .contacts__info {
    padding-top: 20px;
    -webkit-columns: 1 auto;
       -moz-columns: 1 auto;
            columns: 1 auto;
  }

  .contacts__form {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
}

@media screen and (max-width: 800px) {
  .contacts {
    padding-top: 60px;
  }

  .contacts__wrapper {
    display: block;
  }

  .contacts__heading {
    margin-bottom: 40px;
  }

  .contacts__title {
    margin-bottom: 40px;
  }

  .contacts__info {
    padding-top: 0;
    -webkit-columns: 2 auto;
       -moz-columns: 2 auto;
            columns: 2 auto;
  }

  .contacts__form {
    margin-top: 30px;
  }

  .user-form__title,
  .services-form__title {
    margin-bottom: 15px;
  }

  .services-form {
    margin-bottom: 60px;
  }

  .btn-form {
    display: block;
    margin-left: auto;
    margin-right: 11px;
  }
}

@media screen and (max-width: 640px) {
  .contacts {
    padding-top: 40px;
  }
}

@media screen and (max-width: 480px) {
  .contacts__info {
    -webkit-columns: 1 auto;
       -moz-columns: 1 auto;
            columns: 1 auto;
  }
}