.expertise {
  position: relative;
  padding: 72px 0 98px;
  background: url(../img/ellipse-blue-top.svg) no-repeat;
  background-position: 17vw 110%;
}

.expertise__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, 581px) 30px minmax(507px, 701px);
  grid-template-columns: minmax(300px, 581px) minmax(507px, 701px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.expertise__wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.expertise__wrapper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.expertise__graphics {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 213px;
  height: 213px;
  margin-bottom: 60px;
  background: url(../img/graphics/expertise.svg) no-repeat center/cover;
}

.expertise__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-bottom: 40px;
}

.expertise__subtitle {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.expertise__subtitle strong {
  font-style: italic;
  font-weight: 400;
}

.expertise__subtitle span {
  font-style: italic;
  font-weight: 400;
  color: #9389d2;
}

.expertise__list {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  margin-top: 10px;
  font-size: 29px;
  line-height: 209%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.expertise__list li:not(:last-child) {
  border-bottom: 1px solid #9389d2;
}

.expertise__desc {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 30px;
  margin-top: 34px;
  color: #949494;
}

.expertise__desc > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.expertise__desc > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.expertise__desc strong,
.expertise__desc a {
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  color: #080105;
}

.expertise__desc a {
  text-decoration: underline;
}

@media (min-width: 1920px) {
  .expertise__wrapper {
    -ms-grid-columns: 581px 701px;
    grid-template-columns: 581px 701px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .expertise__wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .expertise__wrapper > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}

@media screen and (max-width: 1100px) {
  .expertise__wrapper {
    -ms-grid-columns: minmax(213px, 1fr) 507px;
    grid-template-columns: minmax(213px, 1fr) 507px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .expertise__wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .expertise__wrapper > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .expertise__graphics {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin: auto 0;
  }

  .expertise__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }

  .expertise__subtitle {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }

  .expertise__list {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-top: 20px;
  }

  .expertise__desc {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    display: block;
  }

  .expertise__desc p:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 800px) {
  .expertise {
    padding: 52px 0 78px;
    background: none;
  }

  .expertise__wrapper {
    display: block;
  }

  .expertise__graphics {
    display: none;
  }

  .expertise__desc {
    display: -ms-grid;
    display: grid;
  }

  .expertise__desc p:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 640px) {
  .expertise {
    padding: 40px 0 60px;
  }

  .expertise__list {
    font-size: 23px;
    line-height: 120%;
  }

  .expertise__list li {
    padding: 5px 0;
  }

  .expertise__desc {
    display: block;
    margin-top: 20px;
  }

  .expertise__desc p:not(:last-child) {
    margin-bottom: 15px;
  }
}