.media {
  padding-top: 114px;
  padding-bottom: 24px;
}

.clients {
  padding-bottom: 265px;
}

.media,
.clients {
  padding-top: 114px;
}

.media__title,
.clients__title {
  margin-bottom: 70px;
}

.media__content,
.clients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.media__cards,
.clients__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 15px;
}

.media__cards > *:nth-child(1), .clients__cards > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.media__cards > *:nth-child(2), .clients__cards > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.media__cards > *:nth-child(3), .clients__cards > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.media__cards > *:nth-child(4), .clients__cards > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.media__card,
.clients__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 225px;
  height: 93px;
  border: 1px solid #CDCDCD;
  border-radius: 50px;
}

@media screen and (max-width: 1100px) {
  .media {
    padding-bottom: 15px;
  }

  .clients {
    padding-bottom: 220px;
  }

  .media,
  .clients {
    padding-top: 80px;
  }

  .media__title,
  .clients__title {
    margin-bottom: 50px;
  }

  .media__cards,
  .clients__cards {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .media__cards > *:nth-child(1), .clients__cards > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .media__cards > *:nth-child(2), .clients__cards > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .media__cards > *:nth-child(3), .clients__cards > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}

@media screen and (max-width: 800px) {
  .media {
    padding-bottom: 0;
  }

  .clients {
    padding-bottom: 150px;
  }

  .media,
  .clients {
    padding-top: 60px;
  }

  .media__title,
  .clients__title {
    margin-bottom: 40px;
  }

  .media__cards,
  .clients__cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .media__cards > *:nth-child(1), .clients__cards > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .media__cards > *:nth-child(2), .clients__cards > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}

@media screen and (max-width: 640px) {
  .clients {
    padding-bottom: 90px;
  }

  .media,
  .clients {
    padding-top: 40px;
  }

  .media__content,
  .clients__content {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .media__card,
  .clients__card {
    max-width: 183px;
    width: auto;
    height: auto;
    padding: 0 10px;
  }
}