.service {
  padding: 106px 0 193px;
  background-color: #9389d2;
}

.service__title {
  margin-bottom: 50px;
}

.service__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.service__accordion {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 15px);
          flex: 0 1 calc(50% - 15px);
}

.accordion {
  margin-bottom: 79px;
  color: #ffffff;
}

.accordion__item {
  position: relative;
  padding: 29px 0 0;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
  /*         &:not(:last-child) {
              margin-bottom: 29px;
          } */
}

.accordion__item_active {
  padding: 29px 0 55px;
}

.accordion__item_active .accordion__trigger svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.accordion__item_active .accordion__content {
  height: auto;
  margin-top: 29px;
  padding-top: 29px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

.accordion__trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.accordion__trigger svg {
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.accordion__title {
  font-weight: 250;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.accordion__content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding-top: 29px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.content-accordion {
  font-weight: 250;
}

.content-accordion__item:not(:last-child) {
  margin-bottom: 24px;
}

.content-accordion__title {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.content-accordion ul {
  list-style-type: disc;
  list-style-position: inside;
}

.content-accordion ul li {
  padding-left: 10px;
}

.content-accordion__desc,
.content-accordion li,
.content-accordion a {
  font-size: 16px;
  line-height: 150%;
}

.content-accordion a {
  text-decoration: underline;
  color: #080105;
}

@media screen and (max-width: 1100px) {
  .service {
    padding: 80px 0 160px;
  }

  .service__accordion {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 490px;
            flex: 0 1 490px;
  }

  .accordion {
    margin-bottom: 60px;
  }

  .accordion__item {
    padding-top: 20px;
  }

  .accordion__item_active {
    padding: 20px 0 40px;
  }

  .accordion__item_active .accordion__content {
    padding-top: 20px;
  }

  .accordion__title {
    font-size: 38px;
  }

  .accordion__content {
    padding-top: 20px;
  }
}

@media screen and (max-width: 800px) {
  .service {
    padding: 60px 0 130px;
  }

  .service__title {
    margin-bottom: 40px;
  }

  .service__content {
    display: block;
  }

  .service__accordion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .service__btn {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 11px;
  }

  .accordion__item {
    padding-top: 15px;
  }

  .accordion__item_active {
    padding: 15px 0 30px;
  }

  .accordion__item_active .accordion__content {
    padding-top: 15px;
  }

  .accordion__title {
    font-size: 30px;
  }

  .accordion__content {
    padding-top: 15px;
  }
}

@media screen and (max-width: 640px) {
  .service {
    padding: 40px 0 90px;
  }

  .accordion__title {
    font-size: 23px;
  }

  .content-accordion__title {
    font-size: 18px;
  }
}