@import "src/scss/colors.scss";

.values {
    position: relative;
    padding: 190px 0 200px;
    overflow: hidden;
    background: url(../img/agnc-bgi.png) no-repeat center / 290%;
    animation: marquee 40s linear infinite;


    @media screen and (max-width: 1500px){
        padding: 13% 0 12%;
    }

    @media screen and (max-width: 800px){
        padding: 40px 0 90px;
    }

    @media screen and (max-width: 640px){
        background: none;
    }

    &__wrapper {
        position: relative;
        padding: 0 5%;

        @media screen and (max-width: 640px){
            padding: 0 15px;
        }
    }

    &__ellipse {
        position: relative;
        max-width: 1300px;
        margin: 0 auto;
        background: url(../img/ellipse.svg) no-repeat center / 100%;
        aspect-ratio: 52 / 28;

        @media screen and (max-width: 640px){
            background: none;
            aspect-ratio: unset;
        }
    }

    &__title {
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%);

        @media screen and (max-width: 800px){
            position: static;
            transform: translate(0%);
            margin-bottom: 30px;
        }
    }

    &__value {
        position: absolute;
        font-size: 40px;
        line-height: 100%;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        @media screen and (max-width: 1500px){
            font-size: 2.68vw;
        }

        @media screen and (max-width: 750px){
            font-size: 20px;
        }

        @media screen and (max-width: 640px){
            position: static;
            padding: 8px 0;
            font-size: 23px;

            &:not(:last-child) {
                border-bottom: 1px solid #92fe6c;
            }
        }

        &_1 {
            top: 4%;
            left: 35%;

            @media screen and (max-width: 700px){
                top: 9%;
                left: 23%;
            }
        }

        &_2 {
            top: -1%;
            right: 13%;

            @media screen and (max-width: 700px){
                top: -1%;
                right: 15%;
            }
        }

        &_3 {
            top: 15%;
            right: -3%;
        }

        &_4 {
            top: 34%;
            right: -5%;
        }

        &_5 {
            top: 55%;
            right: -2%;
        }

        &_6 {
            top: 74%;
            left: 65%;
        }

        &_7 {
            top: 90%;
            left: 53%;
        }

        &_8 {
            top: 95%;
            left: 27%;
        }

        &_9 {
            top: 82%;
            left: 0%;
        }

        &_10 {
            top: 57%;
            left: -5%;

            @media screen and (max-width: 700px){
                top: 64%;
            }
        }

        &_11 {
            top: 36%;
            left: -11px;

            @media screen and (max-width: 700px){
                top: 44%;
            }
        }

        &_12 {
            top: 20%;
            left: 12%;

            @media screen and (max-width: 700px){
                top: 25%;
                left: 7%;
            }
        }
    }
}

@keyframes marquee {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}