@import "src/scss/colors.scss";

.advantages {
    padding: 102px 0 181px;
    background-color: #fbf9f6;

    @media screen and (max-width: 1100px){
        padding: 72px 0 98px;
    }

    @media screen and (max-width: 800px){
        padding: 52px 0 78px;
    }

    @media screen and (max-width: 640px){
        padding: 40px 0 60px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: minmax(569px, 701px) minmax(445px, 581px);
        grid-template-rows: auto;
        justify-content:space-between;
        column-gap: 30px;

        @media (min-width: 1920px){
            grid-template-columns: 701px 581px;
            grid-template-rows: auto;
        }

        @media screen and (max-width: 1100px){
            grid-template-columns: 507px minmax(213px, 1fr);
            grid-template-rows: auto;
        }

        @media screen and (max-width: 800px){
            display: block;
        }
    }

    &__list {
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 29px;
        line-height: 120%;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        @media screen and (max-width: 1100px){
            grid-column: 1/2;
            grid-row: 3/4;
            margin-top: 20px;
        }

        @media screen and (max-width: 640px){
            font-size: 23px;
            line-height: 120%;
        }

        li {
            padding: 15px 0;

            &:not(:last-child) {
                border-bottom: 1px solid #92FE6C;
            }

            @media screen and (max-width: 640px){
                padding: 5px 0;
            }
        }
    }

    &__desc {
        grid-column: 1/2;
        grid-row: 2/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 30px;
        margin-top: 34px;
        color: $grey;

        @media screen and (max-width: 1100px){
            grid-column: 1/3;
            grid-row: 4/5;
            display: block;
        }

        @media screen and (max-width: 800px){
            display: grid;
        }

        @media screen and (max-width: 640px){
            display: block;
            margin-top: 20px;
        }

        p {
            @media screen and (max-width: 1100px){
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }

            @media screen and (max-width: 800px){
                &:not(:last-child) {
                    margin-bottom: 0px;
                }
            }

            @media screen and (max-width: 640px){
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }

        strong {
            font-weight: 400;
            font-style: italic;
            text-transform: uppercase;
            color: $black;
        }
    }

    &__graphics {
        grid-column: 2/3;
        grid-row: 1/3;
        width: 213px;
        height: 213px;
        margin-bottom: 60px;
        background: url(../img/graphics/advantages.svg) no-repeat center / cover;

        @media screen and (max-width: 1100px){
            grid-column: 2/3;
            grid-row: 3/4;
            margin: auto 0 auto auto;
        }

        @media screen and (max-width: 800px){
            display: none;
        }
    }

    &__title {
        grid-column: 2/3;
        grid-row: 3/4;
        margin-bottom: 40px;

        @media screen and (max-width: 1100px){
            grid-column: 1/2;
            grid-row: 1/2;
        }
    }

    &__subtitle {
        grid-column: 2/3;
        grid-row: 4/5;

        @media screen and (max-width: 1100px){
            grid-column: 1/3;
            grid-row: 2/3;
        }

        strong {
            font-style: italic;
            font-weight: 400;
        }

        span {
            font-style: italic;
            font-weight: 400;
            color: $lavender;
        }
    }
}


