.advantages {
  padding: 102px 0 181px;
  background-color: #fbf9f6;
}

.advantages__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(569px, 701px) 30px minmax(445px, 581px);
  grid-template-columns: minmax(569px, 701px) minmax(445px, 581px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.advantages__wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.advantages__wrapper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.advantages__list {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 29px;
  line-height: 209%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.advantages__list li:not(:last-child) {
  border-bottom: 1px solid #92FE6C;
}

.advantages__desc {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 30px;
  margin-top: 34px;
  color: #949494;
}

.advantages__desc > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.advantages__desc > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.advantages__desc strong {
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  color: #080105;
}

.advantages__graphics {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 213px;
  height: 213px;
  margin-bottom: 60px;
  background: url(../img/graphics/advantages.svg) no-repeat center/cover;
}

.advantages__title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  margin-bottom: 40px;
}

.advantages__subtitle {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.advantages__subtitle strong {
  font-style: italic;
  font-weight: 400;
}

.advantages__subtitle span {
  font-style: italic;
  font-weight: 400;
  color: #9389d2;
}

@media (min-width: 1920px) {
  .advantages__wrapper {
    -ms-grid-columns: 701px 581px;
    grid-template-columns: 701px 581px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .advantages__wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .advantages__wrapper > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}

@media screen and (max-width: 1100px) {
  .advantages {
    padding: 72px 0 98px;
  }

  .advantages__wrapper {
    -ms-grid-columns: 507px minmax(213px, 1fr);
    grid-template-columns: 507px minmax(213px, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .advantages__wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .advantages__wrapper > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .advantages__list {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-top: 20px;
  }

  .advantages__desc {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    display: block;
  }

  .advantages__desc p:not(:last-child) {
    margin-bottom: 15px;
  }

  .advantages__graphics {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin: auto 0 auto auto;
  }

  .advantages__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }

  .advantages__subtitle {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media screen and (max-width: 800px) {
  .advantages {
    padding: 52px 0 78px;
  }

  .advantages__wrapper {
    display: block;
  }

  .advantages__desc {
    display: -ms-grid;
    display: grid;
  }

  .advantages__desc p:not(:last-child) {
    margin-bottom: 0px;
  }

  .advantages__graphics {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .advantages {
    padding: 40px 0 60px;
  }

  .advantages__list {
    font-size: 23px;
    line-height: 120%;
  }

  .advantages__list li {
    padding: 5px 0;
  }

  .advantages__desc {
    display: block;
    margin-top: 20px;
  }

  .advantages__desc p:not(:last-child) {
    margin-bottom: 15px;
  }
}