.about {
  padding-top: 37px;
  padding-bottom: 169px;
  background-color: #fbf9f6;
}

.about__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(40%, 581px) 30px minmax(40%, 701px);
  grid-template-columns: minmax(40%, 581px) minmax(40%, 701px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.about__content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.about__content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.about__card {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.about__heading {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.about__title {
  margin-top: 75px;
  margin-bottom: 40px;
}

.about__subtitle {
  max-width: 350px;
  margin-bottom: 34px;
  font-weight: 250;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.about__additional {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.about__columns {
  -webkit-columns: 2 auto;
     -moz-columns: 2 auto;
          columns: 2 auto;
  -webkit-column-gap: 29px;
     -moz-column-gap: 29px;
          column-gap: 29px;
}

.about__columns p {
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #949494;
}

.about-card__img {
  position: relative;
  margin-bottom: 11px;
}

.about-card__img img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-card__img::after {
  content: "";
  position: absolute;
  top: 26px;
  right: -98px;
  background: url(../img/agnc-vertical.svg) no-repeat center/100%;
  width: 197px;
  height: 900px;
  background-size: 100%;
}

.about-card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.about-card__name {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.03em;
}

.about-card__position {
  font-weight: 250;
  font-size: 16px;
  line-height: 150%;
}

.about-card__link {
  position: relative;
  font-weight: 250;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  cursor: pointer;
}

.about-card__link::after {
  content: "";
  position: absolute;
  right: -29px;
  bottom: -13px;
  z-index: 1;
  background-image: url(../img/link.svg);
  background-repeat: no-repeat;
  width: 37px;
  height: 38px;
}

.about-card__link span {
  text-transform: capitalize;
  color: #e84329;
}

@media (min-width: 1920px) {
  .about__content {
    -ms-grid-columns: 581px 701px;
    grid-template-columns: 581px 701px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .about__content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .about__content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}

@media screen and (max-width: 1480px) {
  .about-card__img::after {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .about__title {
    margin-top: 0;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .about__columns {
    -webkit-columns: 1 auto;
       -moz-columns: 1 auto;
            columns: 1 auto;
  }

  .about__columns p:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1100px) {
  .about {
    padding: 80px 0 100px;
  }

  .about__content {
    -ms-grid-columns: calc(52% - 15px) calc(48% - 15px);
    grid-template-columns: calc(52% - 15px) calc(48% - 15px);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .about__content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .about__content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .about__subtitle {
    max-width: none;
    margin-bottom: 25px;
  }

  .about-card__img {
    height: 100%;
  }
}

@media screen and (max-width: 800px) {
  .about {
    padding: 60px 0 90px;
  }

  .about__content {
    -ms-grid-columns: calc(52% - 7.5px) 15px calc(48% - 7.5px);
    grid-template-columns: calc(52% - 7.5px) calc(48% - 7.5px);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }

  .about__content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .about__content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .about__card {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }

  .about__heading {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }

  .about__subtitle {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 640px) {
  .about {
    padding: 40px 0 60px;
  }

  .about__content {
    display: block;
  }

  .about__card {
    margin-bottom: 35px;
  }

  .about-card__img {
    margin-bottom: 20px;
  }

  .about-card__img img {
    width: 100%;
  }

  .about-card__link::after {
    right: 0;
  }
}

@media screen and (max-width: 460px) {
  .about-card__text {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1px;
  }

  .about-card__link::after {
    right: -37px;
    bottom: -14px;
  }
}